<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我为十力代颜</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/main.css">
    <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                type: "get",//提交请求方法
                url: "http://aiwan.com/wx/jsconfig?url=http://aiwan.com/stpro",//提交的地址
                dataType: 'json',
                success: function (msg) {
                    wx.config({
                        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId: msg.data.appId, // 必填，公众号的唯一标识
                        timestamp: msg.data.timestamp, // 必填，生成签名的时间戳
                        nonceStr: msg.data.nonceStr, // 必填，生成签名的随机串
                        signature: msg.data.signature,// 必填，签名，见附录1
                        jsApiList: ['chooseImage','previewImage','uploadImage','downloadImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                    });

                }
            });


        });
    </script>

</head>
<body>
    <div class="main_content">
        <img src="{{url}}" width="100%" />
        <div class="share_content">
            <div class="share_wechat"><i><img src="/img/wechat.png" width="100%"></i>分享至朋友圈</div>
            <div class="share_weibo"><i><img src="/img/weibo.png" width="100%"></i>分享至微博</div>
        </div>
        <div class="btn_backedit">返回修改</div>
    </div>

</body>
</html>